<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automates</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <!-- Name of Company and logo-->
    <h1>Automates</h1>
    <h2>The repository to employment pipeline</h2>
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
  <footer>
    </div>
    <!-- Copywrite -->
    <p>&copy; 2024 Automates. All rights reserved.</p>
  </footer>
</body>
</html>

