{% extends "automates_app.html" %}

{% block content %}
<!-- Home Page Content -->
<div class="top">
  <a href="{% url 'automates_app:logout' %}" class="button login">Logout</a>
  <button class="button login">Account</button>
</div>

<div class="buffer"></div>

<div class="row">
  <!-- Left Column (Form Inputs) -->
  <div class="column left">
    <h1>Select Repository</h1>
    <div class="btn-group"></div>
    
    <!-- Description Selector -->
    <div class="selector">
      <h1>Description</h1>
      <textarea id="description" name="description" class="description" rows="5" cols="50">Enter description here.</textarea>
    </div>

    <!-- Audience Selector -->
    <div class="selector">
      <h1>Audience</h1>
      <select name="audience" id="audience" class="dropdown">
        <option value="Classmates">Classmates</option>
        <option value="Employers">Employers</option>
        <option value="Co-workers">Co-workers</option>
        <option value="other">Other</option>
        </select>
        <textarea id="audienceTextBox" name="audienceTextBox" class="otherBox" rows="1" cols="20"></textarea>
      </div>

      <!-- Style Selector -->
      <div class="selector">
        <h1>Style</h1>
        <select name="style" id="style" class="dropdown">
          <option value="Professional">Professional</option>
          <option value="Academic">Academic</option>
          <option value="Casual">Casual</option>
          <option value="other">Other</option>
        </select>
        <textarea id="styleTextBox" name="styleTextBox" class="otherBox" rows="1" cols="20"></textarea>
      </div>

      <!-- Tone Selector -->
      <div class="selector">
        <h1>Tone</h1>
        <select name="tone" id="tone" class="dropdown">
          <option value="Formal">Formal</option>
          <option value="Friendly">Friendly</option>
          <option value="Casual">Casual</option>
          <option value="other">Other</option>
        </select>
        <textarea id="toneTextBox" name="toneTextBox" class="otherBox" rows="1" cols="20"></textarea>
      </div>

      <!-- Hashtags -->
      <div class="selector">
        <h1>Hashtags</h1>
        <textarea id="hashtags" name="hashtags" class="description" rows="5" cols="50">Enter hashtags here.</textarea>
      </div>

      <button class="button button1">Generate</button>
    </form>
  </div>

  <!-- Right Column (Generated Text) -->
  <div class="column right">
    <h1>Generated LinkedIn Description</h1>
    <textarea id="descriptionOutput" name="generated" class="generated" rows="15" cols="60" readonly>Text will be generated here.</textarea>
  </div>
</div>

{% endblock content %}
